.flex-container{
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 140px;
    row-gap: 6px;
    column-gap: 5px;
    height: 10px;
    /* margin-right: 500px; */
    margin-left: -300px;
    /* margin-top: 50px; */
    
}
.circles{
    height: 13.69px;
  width: 13.69px;
  background-color:#CEF3FF  ;
  border-radius: 50%;
  display: inline-block;
}
