body{
    
    /* background: #F5F5F5; */
    margin: 0px;
    padding: 0;
}
.passwordbox{
    border: 1px solid grey;
    
    /* width:300px ; */
    text-align: center;
    height: 40px;
    width: 310px;
    margin-left: 100px;
    margin-top: 8px;
}
.dotsImg1{
    position: absolute;
    /* right: 1; */
    /* top: 1; */

    width: "20%";
    height: "30%";
    margin: 10px;
    margin-left: 650px;
    margin-top: -120px;
    opacity: 0.8;
    background: #d6ecf3;
}
.ecllipseimg1{
    position: absolute;
    left: 0%;
    top:0%;
    width: 15%;
    opacity: 0.6;
}
.ecllipseimg2{
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 15%;
    opacity: 0.6;
}
.eye{
    margin-left: 80px;
    color: gray;
}
.dotsImg2{
    position: absolute;
    /* right: 1; */
    /* top: 1; */

    width: "20%";
    height: "30%";
    margin: 10px;
    margin-left: -250px;
    margin-top: 250px;
    opacity: 0.8;
    background: #d6ecf3;
}
.loginBox{
    background:#f1f9fc;
    height: 90vh;
    position: fixed;
    display: flex;
    position: relative;
    /* margin: 100px; */
    position: inherit;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    border-radius: 22px;
    box-shadow: 0px 4px 22px #B2DFFF;;
    

}
.login{
    /* align-self: center; */
    height: 400px;
width: 500px;
margin-left: 300px;
margin-top: 10px;
/* background-color: #FFFFFF; */
border-radius: 10px;
/* border: 2px solid green; */

}
.text{
    font-family: 'Open Sans';
font-size: 15px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0.25px;
text-align: center;

}
.logo{
    margin-top: 20px;
    text-align: center;
    font-family: 'Open Sans';
    color: #7D8CC4;
}
.usermail{
    margin-top: 10px;
    margin-left: 100px;
    width:300px ;
    text-align: center;
    height: 40px;
}
.userpassword{
    margin-top: 10px;
    background-color: #f1f9fc;
    /*margin-left: 100px;
    width:300px ;
    text-align: center;
    height: 40px; */
    border: none;
}

.usermail,.userpassword:focus{
    outline: none;
}

.signin{
    margin-left: 100px;
    margin-top: 50px ;
    width: 310px;
    height: 40px;
    border: none;
    background-color:#7D8CC4;
}
.signup{
    margin-left: 100px;
    margin-top: 5px ;
    width: 300px;
    height: 40px;
    background-color:#f1f9fc ;
    border: none;
}

.request{
    color: #352D66;
    font-family: 'Open Sans';
    font-size: 18px;
    
}
.errorBox{
    /* border: 1px solid red; */
    height: 20px;
    border: none;
}